.header{
    width: 80%;
   border: 1px solid black;
   display: inline-block;
    
    .header_wrap{
        display: flex;  
        .header_allFilms{
            
        }
        
        .header_allCategory{

        }

        .header_allDate{

        }

        .header_allCountry{

        }

        .header_allLanguage{

        }

        .header_allChgidem{

        }
    }
}