.aside{
    width: 200px;
    height: 100vh;
    display: inline-block;
    border: 1px solid black;

    .aside_filmPageName{
        
    }
    .aside_films{
        
    }
    
    .aside_ul{

        .aside_allFilms{

        }
        .aside_features{

        }

        .aside_documents{

        }

        .aside_savedFilms{

        }
    }
    .aside_signUp{

    }

    .aside_signIn{

    }
}