// .ShowMovieCard{
//     width: 100%;
//     padding-left:100px;
//     padding-right: 100px;
//     gap: 10px;
    
//     .ShowMovieCard_wrap{
//         display: inline-block;
//         .ShowMovieCard_img{
//             width: 160px;
//             border-radius: 20px;
//         }
        
//         .ShowMovieCard_info{
//             width: 100%;
//             color: azure;
//             .ShowMovieCard_title{
//                 width: 100%;
//                 font-size: 16px;
//             }
            
//             .ShowMovieCard_average{

//             }
//         }
//     }
// }

.ShowMovieCard{
   width: 80%;
    .ShowMovieCard_wrap{
        display: inline-block;

        .ShowMovieCard_img{
            width: 160px;
            border-radius: 20px;
        }
        
        .ShowMovieCard_info{
            width: 100%;
            border: 1px solid red;
            color: azure;

            .ShowMovieCard_title{
                font-size: 14px;
            }
            
            .ShowMovieCard_average{

            }
        }
    }
}