.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    .navbar_navigation{
        display: flex;
        justify-content: end;
        padding-right: 16px;
        .navigation_ul{
            width:100%;
            align-items: center;
            text-decoration: none;
            .navbar_filmPageName{
                width: 50%;
                font-size:36px;
                color: aliceblue;
            }
            .navigation_search{
                border-bottom:1px solid rgba(192, 192, 192, 0.352);
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 10px 10px 30px;
                .search_icon{
                   font-size: 26px; 
                   color: rgba(192, 192, 192, 0.352);
                }
                .navigation_search_input{
                    font-size: 16px;
                    color: azure;
                    padding: 12px;
                    width: 360px;
                    height: 40px;
                    border: none;
                    background: transparent;
                    outline:none;   
                }
            }


            
            
          
            }
        }

    }

