.navbar{
   width: 80%;
   border: 1px solid black;
   display: inline-block;
   .navbar_navigation{
       
       .navigation_ul{
            list-style: none;
            // display: flex;
            .navigation_search{

                
            }

            .navigation_allFilms{

                
            }

            .navigation_allAbout{
                    
            }

            .navigation_allNews{

            }

            .navigation_allSocial{

            }

            .navigation_icon_FB{

            }

            .navigation_icon_YouTube{

            }

            .navigation_icon_Inst{
  
            }

            .navigation_icon_TG{

            }
        }
    }
}